.content-home-page {
    height: 100%;
}

.main-image {
    width: 100%;
    height: 500px;
}

.description-home-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.description-home-page p {
    width: 700px;
    color: white;
}