@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

body, html {
  margin: 0;
  height: 100%;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity:0.1;
  background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
  background-size:cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 100%;
}

.window-signup {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 660px;
  width: 860px;
  background: #fff;
  background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
  border-radius: 5px;
  overflow-y: scroll;
  margin-top: 70px;

}

.overlay-signup {
  background: -webkit-linear-gradient(#2eabe6, #c6186e);
  background: linear-gradient(#2eabe6, #c6186e);
  opacity: 0.8;
  filter: alpha(opacity=85);
  height: 1410px;
  position: absolute;
  width: 860px;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.overlay-applicant {
    /*background: -webkit-linear-gradient(#54AC95, #00237A);
    background: linear-gradient(#54AC95, #00237A);*/
    /*background: #00237A;*/
}

.content-signup {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 5;
}

.welcome-signup {
  font-weight: 300;
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle-signup {
  text-align: center;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  margin-top: 20px;
}

input {
  border: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.input-line {
  background: none;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 15px;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  transition: all .2s ease;
  display: flex;
  flex-direction: column;
}

.input-fields {
  margin-top: 25px;
  width: 500px;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}

.spacing {
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  font-family: roboto;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  color: #6d64bb;
}

.link-signup {
    font-weight: 700;
    color: #6d64bb;
    text-decoration: none;
    font-family: roboto;
}

.special-area {
    border: 1px solid rgba(255, 255, 255, 0.65);
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}