{% load static %}
<html>
    <head>
        <title>FACIL@B</title>
        <link rel="stylesheet" href="{% static 'base.css' %}"/>
    </head>
    <body>
        <nav>
            <a href="{% url 'list-request' %}">Liste des demandes</a>
            <a href="{% url 'create-request' %}">Créer une demande</a>
        </nav>

        {% block content_test %}{% endblock %}
        {% block list_requests %}{% endblock %}
        {% block detail_request %}{% endblock %}
        {% block create_request %}{% endblock %}

    </body>
</html>