{% extends 'base.html' %}

{% block detail_request %}
<h1>Consultation d'une demande</h1>

<article>
    <div class="request">
        <div class="show-title">
            <a href="{% url 'list-request' %}">
                <img class="cancel-icon" src="/static/images/cancel_icon.png" alt="cancel icon">
            </a>
            <h2>{{ request.request_title }}</h2>
        </div>
        <div class="show-description">
            <h3>Description</h3>
            <p>{{ request.request_detail }}</p>
        </div>
        <div class="show-created-at">
            <h3>Date de création</h3>
            <p>{{ request.created_at }}</p>
        </div>
        <div class="show-updated-at">
            <h3>Dernière mise à jour</h3>
            <p>{{ request.updated_at }}</p>
        </div>
    </div>


</article>


{% endblock %}
