{% extends 'base.html' %}

{% block detail_request_fablab %}
<div class="detail-request">
    <h1>Consultation d'une demande</h1>
    <article class="window-detail-request">
        <div class="applicant">
            <div class="header-detail-request">
                <div class="show-title">
                    <h2>Contact demandeur</h2>
                </div>
            </div>
            <div>
                <h3>Nom</h3>
                <p class="response">{{ user_applicant.last_name }}</p>
            </div>
            <div>
                <h3>Prénom</h3>
                <p class="response">{{ user_applicant.first_name }}</p>
            </div>
            <div>
                <h3>Numéro téléphone</h3>
                <p class="response">{{ user_applicant.phone_number }}</p>
            </div>
            <div>
                <h3>Adresse mail</h3>
                <p class="response">{{ user_applicant.email }}</p>
            </div>
            {% if user_applicant.name_organisation|length > 0 %}
            <div>
                <h3>Organisation</h3>
                <p class="response">{{ user_applicant.name_organisation }}</p>
            </div>
            {% endif %}
            {% if user_applicant.web_site|length > 0 %}
            <div>
                <h3>Site internet</h3>
                <p class="response">{{ user_applicant.web_site }}</p>
            </div>
            {% endif %}
        </div>
        <div class="request">
            <div class="header-detail-request">
                <div class="show-title">
                    <a href="{% url 'table-request-fablab' %}">
                        <img class="cancel-detail-icon" src="/static/images/cancel_icon.png" alt="cancel icon">
                    </a>
                    <h2>{{ request.request_title }}</h2>
                </div>
            </div>
            <div>
                <h3>Description</h3>
                <p class="response">{{ request.request_detail }}</p>
            </div>
            <div>
                <h3>Catégorie</h3>
                <p class="response">{{ request.categorie }}</p>
            </div>
            <div>
                <h3>Matière</h3>
                <p class="response">{{ request.matiere }}</p>
            </div>
            <div>
                <h3>Contrainte</h3>
                <p class="response">{{ request.contrainte }}</p>
            </div>
            <div>
                <h3>Date de création</h3>
                <p class="response">{{ request.created_at }}</p>
            </div>
            <div>
                <h3>Dernière mise à jour</h3>
                <p class="response">{{ request.updated_at }}</p>
            </div>
        </div>
    </article>
</div>
{% endblock %}
