{% extends 'base.html' %}

{% block detail_request %}

<h2>{{ request.request_title }}</h2>

<ul>
 <li>Description : {{ request.request_detail }}</li>
 <li>Demande créée le : {{ request.created_at }}</li>
 <li>Demande mise à jour le : {{ request.updated_at }}</li>
 {% if request.applicant_id %}
 <li>Demande créée par: {{ request.applicant_id }}</li>
 {% endif %}
 {% if request.prescriber_id %}
 <li>Demande créée par: {{ request.prescriber_id }}</li>
 {% endif %}
</ul>

<a href="{% url 'list-request' %}">Retourner à la liste des demandes</a>
{% endblock %}
