{% extends 'base.html' %}

{% block home_page %}
<div class="content-home-page">
  <h1>FACIL@B PLATEFORME</h1>
  <img class="main-image", src="/static/images/mayhumanlab.jpg">
  <div class="description-home-page">
      <p>FACIL@B plateforme permet de mettre en relation les FabLab et les personnes ayant un besoin en particlier.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
      </p>
  </div>
</div>
{% endblock %}