{% extends 'base.html' %}

{% block home_page %}
<div class="content-home-page">
  <h1>FACIL@B PLATEFORME</h1>
  <img class="main-image", src="/static/images/mayhumanlab.jpg">
  <div class="description-home-page">
      <p><span>FACIL@B</span> est une plateforme numérique de mise en relation entre les besoins des personnes en situations de
          handicap et les Fab-Lab. Issu d'un projet innovant, cette plateform a pour vocation de developper l'autonomie
          en répondant à des besoins spécifiques dont la solution n'existe pas dans le commerce.
          <br>
          <br>
          <br>
          <br>
          <span>Qu'est-ce qu'un Fab-Lab ?</span> Un Fab-Lab est un lieu de mise en commun de multiples compétences, de matériels
          numériques pour réaliser des projets uniques.
          <br>
          <br>
          <span>Quels types de besoins ?</span> Les besoins peuvent répondre à plusieurs catégories : Aides Techniques (déplacements,
          préparation et prises de repas...), Aides Technologiques (technologies de l'information, de la communication),
          Aides Domotiques et Gabarits sur mesure.
      </p>
  </div>
</div>
{% endblock %}
