{% extends 'base.html' %}

{% block list_requests %}

<h1>La liste des demandes</h1>

<article class="cards">
    {% for request in requests %}
    <div class="content">
        <div class="title">
            <h2>{{ request.request_title }}</h2>
        </div>
        <div class="detail">
            <p>{{ request.request_detail }}</p>
        </div>
        <div class="button">
            <a class="link" href="{% url 'detail-request' request.id %}">Consulter</a>
        </div>
    </div>
    {% endfor %}
</article>

{% endblock %}
