{% extends 'base.html' %}

{% block table_request %}
<div class="container">
	<div class="content-table">
		<table>
			<thead>
				<tr>
					<th>N°</th>
					<th>Titre</th>
					<th>Détail</th>
					<th>Date de création</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for request in requests %}
				<tr class="row">
					<td>{{ request.id }}</td>
					<td>{{ request.request_title }}</td>
					<td>{{ request.request_detail }}</td>
					<td>{{ request.created_at }}</td>
					<td>
						<div class="button">
							<a class="link" href="{% url 'detail-request' request.id %}">Consulter</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}