{% extends 'base.html' %}

{% block update_request %}
<article class="article-update-request">
    <div class="window-update-request">
            <div class="header-update-request">
                <a href="{% url 'list-request' %}">
                    <img class="cancel-update-request" src="/static/images/cancel_icon.png" alt="cancel icon">
                </a>
                <div class="sub-header-update-request">
                    <p class="title-update-request">Modification de la demande</p>
                    <p class="name-update-request">"{{ request.request_title }}"</p>
                </div>
            </div>
            <div class="subtitle-update-request">Vous pouvez modifier les champs ci-dessous :</div>
            <div class="form">
                <form class="input-fields" action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ form }}
                    <input class="ghost-round full-width" type="submit" value="Modifier la demande">
                </form>
            </div>
    </div>
</article>
{% endblock %}
